/*języki------------------------*/
img.malpa
{
	width: 13px;
	height: 13px;
	display: inline;
	padding: 0.1em;
}

#number
{
  color: #ffffff;
  font-size: 0.9em;
	margin: 5px 0 0em 0;
}
.details p
{
	margin: 5px 0 0em 0;
}

.sidebar img.logo_soc
{
	width: 20px;
	height: 20px;
	padding: 0em;
}

div.soc
{
	float: left;
	margin: 8px 10px 0px 0;
}

#switch222{
	height: 0;
	width: 0;
	visibility: hidden;
}

#switch_label
{
	cursor: pointer;
	text-indent: -999999px;
	width: 40px;
	height: 19px;
	background: #c7c7c7;
	display: block;
	border-radius: 10px;
	position: relative;
}

#switch_label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 3px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

#switch222:checked + #switch_label {
	background: #333;
}

#switch222:checked + #switch_label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

#switch_label:active:after {
	width: 34px;
}

/*
// centering
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
*/

.demibold b
{
	font-weight: 410;
}

/*------------------------------------------------------------------*/

.details_header {
    margin-top: -20px;
}

.details_header ul li a
 {
	padding: 0 0.5em;
}

.ul_margines
{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}

.ul_margines li
{
	color: #999;
	padding-top: 0px;
}

.skill_list
{
	padding: 1em 0 0 0em;
}

.ul_margines_CERT li {
    color: #333;
		padding-top: 5px;
}
.ul_margines_CERT{
		padding-left: 50px;
}

h3.clr1{
	background:#c7c7c7;
}
h3.clr2{
	background:#c7c7c7;
}
h3.clr3{
	background:#c7c7c7;
}

.cmpny1{
	display: none;
	/*border-bottom:0px dashed #999;*/
}

.company_details h6, .education_details h6 {
	margin-bottom: 1em;
}

.company_details{
	padding: 1.5em 0 0em 3em;
}

.sidebar h1{
	margin-bottom: 0.5em;
}

.sidebar {
	padding-top: 1em;
	padding-bottom: 2px;
}

.details {
    margin-top: 0.2em;
}

div.address {
    margin-bottom: 2px;
}

.main {
    padding-top: 1em 0;
}

.copywrite
{
	display: none;
}

.marg_bott_0
{
    margin-bottom: 0em;
}

.angg
{
	display: -webkit-inline-box !important;
}

#switch_label
{
	margin-right: 9px;
}

.contact-grid input[type="text"], .contact-grid input[type="email"], .contact-grid textarea
{
	/* Skopiowane z style.css żeby dodać type="email" */
  width: 80%;
  padding: 0.7em;
  margin: 0.5em 0;
  background: none;
  outline: none;
  border: 1px solid #A09F9F;
  font-size: 1em;
  color: #A09F9F;
  -webkit-appearance: none;
}

.glyphicon-big
{
  font-size: 50px;
	color: #c7c7c7;
}

.glyphicon-ok-circle
{
	color: rgb(11,102,35);
}

.glyphicon-remove-circle, .glyphicon-cog
{
	color: rgb(255,0,0);
}

/*----------------------------------------------------------------------------------*/

@media (max-width: 1024px)
{
	.sidebar h1
	{
		font-size: 1.5em;
	}
}

/*---------------------------------------------------------*/

@media (max-width: 768px){
	.main {
		margin-left: 0px;
		width: 78%;
	}
	.sidebar {
			width: 100%;
	}
	/*
	.sidebar img {
		width: 20%;
	}
	*/
	.sidebar_top
	{
    width: 30%;
    float: left;
    margin-right: 5%;
	}
	.main 
	{
    margin-left: 0px;
    width: 100%;
	}
	.company_details
	{
		padding: 1.5em 0 0em 2em;
	}
	/*
	.sidebar img.logo_soc
	{
		width: 20px;
		height: 20px;
	}
	*/
}

@media (max-width: 414px)
{
	.details 
	{
		width: 50%;
	}
}

@media (max-width: 375px)
{
	.sidebar img
	{
		width: 100%;
	}
	img.malpa
	{
		width: 13px;
		height: 13px;
		display: inline;
		padding: 0.1em;
	}
}

@media (max-width: 320px)
{
	.sidebar img
	{
		width: 100%;
	}
		img.malpa
	{
		width: 13px;
		height: 13px;
		display: inline;
		padding: 0.1em;
	}
}